<div class="navbar">
    <div class="logo">My Website</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</div>