<div class="navbar">
    <div class="logo">My Website</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/addblog">Add BLOG</a></li>
      <% if(currentUser){%>
        <li><a href="/logout">Logout</a></li>
    <% }else{ %>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
</div>